target/
build/

!.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

src/main/resources/application.properties


.idea/
*.iml

.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nb-gradle/

.vscode/

.DS_Store
